<div class="container-fluid">
  <div class="row d-flex p-3" style="background-color: #f5f5f7;">
    <div class="col-2 d-flex align-items-center">
      <img src="../../../assets/images/logomaiztransparente.ico" alt="" width="65" height="65" style="max-width: 65px; max-height: 65px;">
      <a class="navbar-brand mx-4 titulo" href="#" style="font-weight: bolder;">ELECTRIC HALEN</a>
      <button class="navbar-toggler ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <ul class="nav col-8 nave">
      <li class="nav-item dropdown">
        <a class="nav-link box dropdown-toggle" id="productosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos</a>
        <ul class="dropdown-menu" aria-labelledby="productosDropdown">
          <li><a class="dropdown-item " href="/productos">Todos los productos</a></li>
          <li><a class="dropdown-item" href="/guitarras">Guitarras</a></li>
          <li><a class="dropdown-item" href="/bajos">Bajos</a></li>
        </ul>
      </li>
      <li><a class="nav-link box underline-fade" href="/quienes-somos">¿Quienes somos?</a></li>
      <li class="nav-item">
        <a class="nav-link box underline-fade" href="/publicar">Publica</a>
      </li>
      
    </ul>
    <div class="col-2 d-flex align-items-center">
      <a href="/profile">Login</a>
    </div>
  </div>

  <div class="row justify-content-center align-items-center gy-2 p-1 mb-3" style="background-color: #f5f5f7; border-top: 1px solid purple; position: relative;">
    <div class="col-8 d-flex flex-column align-items-center">
      <form class="d-flex flex-grow-1" role="search" (ngSubmit)="buscar()">
        <input class="form-control me-2 flex-grow-1" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="terminoBusqueda" [ngModelOptions]="{standalone: true}" name="search" (input)="filtrarInstrumentos()">
        <!-- <button class="btn btn-outline-success custom-btn" type="submit">Search</button> -->
      </form>
      <ul *ngIf="resultados.length > 0" class="list-group position-absolute w-100 mt-1" style="z-index: 1000; top: 100%; left: 0; background-color: #f5f5f7;">
        <a href="/pedidos" *ngFor="let instrumento of resultados" class="list-group-item d-flex align-items-center">
          <img [src]="instrumento.imagen" alt="" width="50" height="50" class="me-2">
          {{ instrumento.nombre }}
        </a>
      </ul>
    </div>
  </div>
</div>
