:host {
    margin: 0;
    /* gap: 1rem; */
    display: grid;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 1fr 50px;
    
    
  }
  
  .content {
      display: grid;
      grid-area: content;
      min-height: 100vh;
      background-image: linear-gradient(to bottom, #f5f5f7, #ffe8a2);

  }

  /* Media query en CSS */
  @media (width <= 768px) {
    /* Estilos para cuando el ancho de la ventana es máximo 768px */
    :host {
      grid-template-columns: 1fr; /* Cambia a una sola columna */
      grid-template-rows: auto 300px 1fr 1fr; 
      grid-template-areas:
        "header"
        "sidebar"
        "content"
        "footer";
    }
  }
  