<div class="container">
  <!-- Carousel Row -->
  <div class="row mb-4">
    <div class="col-12 mt-4">
      <div id="carouselExampleCaptions" class="carousel slide carrusel" data-bs-ride="carousel" data-bs-interval="4000">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../../assets/images/vanHalen.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption custom-caption">
              <h5>Bienvenido a la tienda Electric Halen</h5>
              <p>La mejor web de intercambio de instrumentos</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/steve-harris.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption custom-caption custom-caption-left">
              <h5>Compra-Venta Segura</h5>
              <p>Bajos y Guitarras</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/images/george-harrison.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption custom-caption custom-caption-top">
              <h5>¡Visita nuestra tienda!</h5>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <h2>Productos más populares</h2><br>
  </div>
  <!-- Popular Products Row -->
  <div class="row mb-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
    <!-- Repetir este bloque para cada producto -->
    <div class="col" *ngFor="let producto of productos">
      <div class="card h-100">
        <img [src]="producto.imagen" class="card-img-top h-50" alt="{{ producto.nombre }}">
        <div class="card-body">
          <h5 class="card-title">{{ producto.nombre }}</h5>
          <p class="card-text"><strong>Marca:</strong> {{ producto.marca }}</p>
          <p class="card-text">{{ producto.descripcion }}</p>
          <p class="card-text"><strong>{{ producto.precio | currency }}</strong></p>
        </div>
      </div>
    </div>
  </div>
  <!-- Relevant Text Row -->
  <div class="row mb-4">
    <div class="col-12">
      <div class="relevant-text">
        <h2>¿Quiénes somos?</h2><br>
        <p>En Electric Halen, nos enorgullece ofrecer una plataforma única para la compraventa de instrumentos musicales. Somos mucho más que una tienda en línea; somos una comunidad apasionada de músicos y amantes de la música que comparten su pasión por los instrumentos.
          <br><br>
          Nuestra misión es simple pero poderosa: queremos facilitar el acceso a instrumentos musicales de calidad a precios asequibles para todos. Creemos firmemente que la música es un arte que debería ser accesible para todos, y nuestra plataforma está diseñada para hacer precisamente eso.
          <br>
          <br>
          En Electric Halen, permitimos a los usuarios publicar sus propios instrumentos para la venta, lo que significa que tienes acceso a una amplia variedad de opciones para elegir. Desde guitarras eléctricas y bajos hasta baterías y teclados, nuestra selección es diversa y emocionante.
          
          Pero no somos solo una plataforma de venta. Nos comprometemos a garantizar que cada transacción sea segura y transparente. Establecemos condiciones claras de compra y venta para proteger tanto a los compradores como a los vendedores, lo que brinda tranquilidad a todos los que participan en nuestra comunidad.
          
          Además, fomentamos el intercambio entre usuarios. Creemos que la música es un lenguaje universal que une a las personas, y queremos facilitar ese intercambio de ideas y experiencias musicales. Ya sea que estés buscando tu primer instrumento o buscando expandir tu colección, [Nombre de tu tienda] es el lugar perfecto para hacerlo.
          <br><br>
          Únete a nuestra comunidad hoy y descubre un mundo de posibilidades musicales en ElectricHalen.</p>
      </div>
    </div>
  </div>

</div>
