<!-- Relevant Text Row -->
<div class="row mb-4">
    <div class="col-12">
      <div class="relevant-text">
        <h2>¿Quiénes somos?</h2><br>
        <p>En Electric Halen, nos enorgullece ofrecer una plataforma única para la compraventa de instrumentos musicales. Somos mucho más que una tienda en línea; somos una comunidad apasionada de músicos y amantes de la música que comparten su pasión por los instrumentos.
          <br><br>
          Nuestra misión es simple pero poderosa: queremos facilitar el acceso a instrumentos musicales de calidad a precios asequibles para todos. Creemos firmemente que la música es un arte que debería ser accesible para todos, y nuestra plataforma está diseñada para hacer precisamente eso.
          <br>
          <br>
          En Electric Halen, permitimos a los usuarios publicar sus propios instrumentos para la venta, lo que significa que tienes acceso a una amplia variedad de opciones para elegir. Desde guitarras eléctricas y bajos hasta baterías y teclados, nuestra selección es diversa y emocionante.
          
          Pero no somos solo una plataforma de venta. Nos comprometemos a garantizar que cada transacción sea segura y transparente. Establecemos condiciones claras de compra y venta para proteger tanto a los compradores como a los vendedores, lo que brinda tranquilidad a todos los que participan en nuestra comunidad.
          
          Además, fomentamos el intercambio entre usuarios. Creemos que la música es un lenguaje universal que une a las personas, y queremos facilitar ese intercambio de ideas y experiencias musicales. Ya sea que estés buscando tu primer instrumento o buscando expandir tu colección, [Nombre de tu tienda] es el lugar perfecto para hacerlo.
          Además de nuestra dedicación a la excelencia en el servicio al cliente, también nos comprometemos a ser responsables con el medio ambiente y la sociedad en general. Trabajamos con proveedores éticos y nos esforzamos por reducir nuestro impacto ambiental en todas nuestras operaciones.
            <br><br>
            En Electric Halen, creemos en el poder transformador de la música.
            Creemos que todos tienen derecho a experimentar la alegría y la creatividad que la música puede brindar. Únete a nosotros en nuestra misión de hacer que la música sea accesible para todos y descubre todo lo que Electric Halen tiene para ofrecer. ¡Te damos la bienvenida a nuestra comunidad musical!
          <br><br><br>
    Si tienes alguna pregunta, comentario o sugerencia, no dudes en ponerte en contacto con nosotros. Estamos aquí para ayudarte en todo lo que necesites.
          <br><br>
    Correo electrónico: {{email}} <br><br>
    Teléfono: +34 677 899 766
            <br><br><br>
            Únete a nuestra comunidad hoy y descubre un mundo de posibilidades musicales en ElectricHalen.</p>
      </div>
    </div>
  </div>

