<form #pedidoForm="ngForm" (ngSubmit)="submitPedido()">
    <h2>Tu pedido</h2>
    <br>
    <div>
      <label for="estadoPago">Estado de Pago  </label><br>
      <input type="text" id="estadoPago" name="estadoPago" [(ngModel)]="pedido.estadoPago" required>
    </div>
    <br>
    <div>
      <label for="fecha">Fecha</label><br>
      <input type="date" id="fecha" name="fecha" [(ngModel)]="pedido.fecha" required>
    </div>
    <br>
    <div>
      <label for="monto">Monto  </label><br>
      <input type="number" id="monto" name="monto" [(ngModel)]="pedido.monto" required>
    </div>
    <!-- Otros campos del pedido si los tienes -->
    
    <!-- Campo oculto para almacenar el ID del comprador -->
    <!-- <input type="hidden" name="idComprador" [(ngModel)]="pedido.comprador.id"> -->
    <br>
    <button type="submit">Crear Pedido</button>
  </form>
  
