<div class="container mt-4">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <h2>Productos</h2>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <!-- Repetir este bloque para cada producto -->
    <div class="col" *ngFor="let producto of productos">
      <div class="card h-100 w-100 mb-3 carta">
        <div class="card-header headerp">
          <img [src]="producto.imagen" class="card-img-top image" alt="{{ producto.nombre }}">
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ producto.nombre }}</h4>
          <p class="card-text"><strong>Marca: </strong> {{ producto.marca }}</p>
          <!-- <p class="card-text"><strong>Descripción: </strong>{{ producto.descripcion }}</p> -->
          <p class="card-text"><strong>Precio: </strong>{{ producto.precio | currency }}</p>
          <a href="/pedidos" class="btn btn-primary boton">Comprar</a>
        </div>
      </div>
    </div>
    <!-- Fin del bloque de producto -->
  </div>
</div>

